@font-face {
  font-weight: 900;
  font-family: 'Montserrat';
  font-style: normal;
  src: url('/fonts/montserratlorry.woff2') format('woff2');

}

@mixin montserrat() {
  font-weight: 900;
  font-family: 'Montserrat', 'Helvetica', 'Arial', sans-serif;
}

@font-face {
  font-weight: normal;
  font-family: 'Space Mono';
  font-style: normal;
  src: url('/fonts/spacemono-regular.woff2') format('woff2');
}

@mixin space-mono() {
  font-weight: normal;
  font-family: 'Space Mono', monospace;
}
